<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmall.mapper.DashboardMapper">

    <select id="getGoodsTotal" resultType="int">
        select count(*) from cskaoyan_mall_goods;
    </select>

    <select id="getOrderTotal" resultType="int">
        select count(*) from cskaoyan_mall_order;
    </select>

    <select id="getProductTotal" resultType="int">
        select count(*) from cskaoyan_mall_goods_product;
    </select>

    <select id="getUserTotal" resultType="int">
        select count(*) from cskaoyan_mall_user;
    </select>

</mapper>
